#loby-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(30, 41, 59);
    color: rgb(251, 191, 36);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .goback-btn{
    width: 50px;
    height: 25px;
    font-size: 10px;
    border-radius: 10px;
    background-color: rgb(252, 211, 77);
    color: rgb(51, 65, 85);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
    top: 5%;
}
.goback-btn:hover{
  opacity: 0.8;
  cursor: pointer;
}
  #allPuzzle-box{
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .Puzzle-box{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    cursor: pointer;
    background-color: rgb(51,65,85);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  .link-class1{
    text-decoration: none;
  }
  #tittle-loby{
    font-size: 5vw;
    display: flex;
    text-align: center;
    margin: 4vw;
  }
  #small-title-loby{
    font-size: 3vw;
  }
  .img-subject{
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width:625px) {
    #tittle-loby{
      font-size: 30px;
    }
    #small-title-loby{
      font-size: 20px;
    }
  }